doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 나의 첫번쨰 퍼그 문서
        style(type="text/css").
            .box{width:100px;height:100px;
                background: tomato;}
    body 
        p#text 하하하.. 갈수록 멘붕이다
        .box